* {
	margin: 0;
	padding: 0;
}

body {
	
	background-color: whitesmoke;
}

a {
	color: #FFFC9C;
	
}

.nav{
	display: inline-block;
	box-sizing: border-box;
	width: 40px;
	padding-left: 80px;

}

#navbar {
	
	background-color: #CC1918;
	padding: 20px;

}

.pictures{
	display: inline-block;
	margin: 0 10px;
	text-align: center;
	box-sizing: content-box;
	border: grey solid;
	width: 150px;
	height: 150px;
}

#fotopandas { 
	padding: 30px 200px;
 }



